body {
  background-color: #04122d;
}

html,
body {
  /* width: 100%; */
  /* height: 100%; */
  margin: 0px;
  padding: 0px;
  overflow-x: hidden !important;
  border: 1px solid;
}

@media screen and (max-width: 786px) {
  /* .brClass {
    display: none;
  } */
}
